<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Retail Store Feed</title>
	<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
  	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "mm/dd/yyyy"
    });
</script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
      <form th:action="@{/stores/save}" method="post" enctype="multipart/form-data" th:object="${store}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{id}" />

		<div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="title">Store ID</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{id}" required minlength="2" maxlength="128" class="form-control"
                id="title" />
            </div>
          </div>
          
		<div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="title">SKU</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{sku}" required minlength="2" maxlength="128" class="form-control"
                id="title" />
            </div>
          </div>
          
        <div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="title">Product Name</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{productName}" required minlength="2" maxlength="128" class="form-control"
                id="title" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="description">Price</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{price}" minlength="2" maxlength="256" class="form-control"
                id="description" />
            </div>
          </div>

          <div class="form-group row">
          	<div class="col-md-4 mt-5">
            	<label for="mdate">Date</label>
	            <div class="input-group date">
	              <input type="text" step="1" th:field="*{mdate}" required min="1" autocomplete="off" class="form-control" id="date" />
	              <div class="input-group-append">
	                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
	              </div>
	            </div>
            </div>
          </div>

          <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/stores}]]";
      });
    });
  </script>

</body>

</html>